################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/DopravniSit/copilot-chat/04f1206a/sessions/c0217398-adfe-4dcd-b5e5-e481981293ef
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/DopravniSit/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/DopravniSit/FileContentIndex/786530d2-ef35-4fc8-bd95-1b91d646e389.vsidx
/.vs/DopravniSit/FileContentIndex/304e422c-ef32-4039-a64a-1e52b1bc4e06.vsidx
/.vs
